# Node.js dependencies
node_modules/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs

# Rider files
.idea/

# Compiled output
dist/
tmp/
out-tsc/

# Dependencies
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
Thumbs.db 